body {
	min-width: 350px;
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: 1em;
	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #121212;
		color: #fff;
		color-scheme: dark;
	}
}

#app {
	display: flex;
    flex-direction: column;
    gap: 0.5em;
}
